
@{
    ViewBag.Title = "Email Sent";
}

<h2>@ViewBag.Title</h2>

<p>
    A confirmation email was sent tothe email address you used when you registered. Follow the instructions
    in that email to confirm your account.
</p>
<p>
    Thank you!
</p>

