
@{
    ViewBag.Title = "Welcome to the Community!";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>
        Thank you for confirming your email. You are now logged in and have the ability to rate other people's photos. 
    </p>

    <h1>Next Step:</h1>
    <p>
        Please @Html.ActionLink("click here to create your own Photo-A-Day project", "Create", "Project").
    </p>
</div>
