<div class="panel panel-default">
    <div class="panel-body">
        <h2>Register Now!</h2>
        <p>Register to be able to rate photos and to start your own Photo-A-Day Project.</p>
        <p><a class="btn btn-primary" href="/account/register">Register &raquo;</a></p>
    </div>
</div>

