
@{
    ViewBag.Title = "Overview";
}

<h2>@ViewBag.Title</h2>

<article>
    <p>
        Welcome to the Photo-A-Day project. The purpose of this site is to provide people with a place to publish their own Photo-A-Day project.
    </p>
    <h4>
        What, you may ask, is a Photo-A-Day project?
    </h4>

    <p>
        It's a diary of sorts. A place where you can share one photo that you took on each calendar day. What kinds of photos? Anything, really.
        I started it to learn more about photography.
        Some people use it to doument a child growing up.
        Some people use to to show others what food they ate on a particular day. Most just use it as a visual record of what happened on that particular
        day. The photos you post are entirely up to you.
    </p>

    <h4>
        What are the rules to the Photo-A-Day project?
    </h4>
    <p>
        You can make up your own rules, or have none at all.
        You can skip days if you want. You can add photos for past dates if you want. You can change the photo for a date if you want. For me, personally,
        I follow these guidelines:
    </p>
    <ol type="square">
        <li>Each day, I can take as many photos as I want.</li>
        <li>I choose one photo that I took during that day and publish it on this site as the photo for that day.</li>
    </ol>
    <p>That's about it. But here is more information for the curious:</p>
    <ol type="square">
        <li>I do not have to publish the photo for the day on this site the same day that it was taken. (I usually do, but if I am off on vacation or something, I may not be able to get any photos onto this site until I return.)</li>
        <li>I can go back and choose a different photo for a particular day at my discretion.</li>
        <li>Photography is defined as "recording images with light". I usually use an ordinary digital camera, but I am free to use a pinhole camera, cyanotype, or any other "alternate" forms of photography.</li>
        <li>
            A day is usually 24 hours. But there are daylight savings days (23 hours) and questions about what to do when you travel to a different time zone, cross the International Date Line, etc.
            I don't have hard and fast rules here, but so far I have used digital cameras while traveling and have left my cameras set to my home time zone. When I returned from my travels, I used
            the datestamp on the photos to determine the day that they belong to.
        </li>
        <li>
            I tag one photo a month as "Photo of the Month" and one photo a year as "Photo of the Year". I pick these myself. I do consider
            the ratings people have given the photos when picking these awards.
        </li>
        <li>
            I started this more or less on a whim. I was looking for a project and had heard of the "photo a day" idea (yes, it has been done by others; lots of others) and it seemed like an interesting idea.
            I have loved it so far and it has forced me to take more photos than I otherwise would and, as a result, I have learned a lot.
        </li>
        <li>Most photos were taken within a mile of my house while taking my <a href="/eric/2013/6/22" id="opener" target="_blank">dog</a> for walks.</li>
        <li>
            So far, I have never had any problems coming up with a photo for a day. In fact, for most days, I usually have several "keepers" to choose from. Usually, the photo
            for a particular day represents that day (my Dad on Father's Day, fireworks on July
            4th, etc.) or the most significant thing to happen to me that day; it is not necessarily the best photo that I took that day.
        </li>
    </ol>
    <p>Who is this Eric Desch person anyway?</p>
    <ol type="square">
        <li>I'm a photographer and a programmer (I made this Website). Other than that, I'm like most people you meet.</li>
        <li>My main photo Web site is <a href="http://www.ericdesch.com">www.ericdesch.com</a> and my email address is <a href="mailto:eric@ericdesch.com">eric@ericdesch.com</a>.</li>
    </ol>
</article>

